extends layout

block content
 
	div(class='jumbotron jumbotron-fluid')
		div(class='container')
			h1(class='display-3') Pedigree Visualizer
			p(class='lead') A web application for displaying swine genealogy tree up to n generations