doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href='/images/icon.png')
    link(rel='stylesheet' href='/stylesheets/Treant.css' type='text/css')

    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js' integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh' crossorigin='anonymous')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js' integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ' crossorigin='anonymous')
    script(src='/javascripts/raphael.js')
    script(src='/javascripts/Treant.js')
    
  body
    header
      nav(class='navbar navbar-expand-md navbar-dark fixed-top bg-dark')
        a(class='navbar-brand' href='/catalog') Pedigree Visualizer
        button(class='navbar-toggler d-lg none' type='button' data-toggle='collapse' data-target='#navcollapse' aria-controls='navcollapse' aria-expanded='false' aria-label='Toggle navigation')
          span(class='navbar-toggler-icon')
        div(class='collapse navbar-collapse' id='navcollapse')
          ul(class='navbar-nav mr-auto')
            li(class='nav-item')
              a(class='nav-link' href='/catalog/swines') Swines
            li(class='nav-item')
              a(class='nav-link' href='/catalog/breeds') Swine Breeds
            li(class='nav-item')
              a(class='nav-link' href='/catalog/farms') Swine Farms
          a(class='nav-link btn btn-outline-info' href='/catalog/visualize') Visualize

    div(class='container' id='main')
      div(class='row')
        main(class='col-md-12 pt-4')
          block content