extends layout

block content
	div(class='alert alert-success' role='alert') There are  
		strong !{num_breeds} 
		| distinct swine breeds currently in the database!
	table(class='table table-striped')
		thead(class='thead-dark')
			tr
				th Swine Breed
		tbody
		each breed in data
			tr
				td !{breed}